<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="DefaultStation" value="Aberdeen" />
  <add key="ServiceURL" value="http://nationalrail.azurewebsites.net"/>
  <add key="Token" value="INSERT TOKEN HERE"/>
  <add key="MaxResults" value="10"/>
  <add key="PageRefreshFrequency" value="60"/>
</appSettings>